.blockHeader{
    height: 30vh;

}

.blockHeaderTitle{
    padding-top: 7vh;
    text-align: center;
    font-family: Rowdies, sans-serif;
    font-size: 8vh;
}

.blockHeaderDescribtion{
    text-align: center;
    font-family: Rowdies, sans-serif;
    font-size: 4vh;
}

@media only screen and (max-width: 1080px) {
    .blockHeaderTitle{
        font-size: 50px;
    }
    .blockHeaderDescribtion{
        font-size: 40px;
    }
}

@media only screen and (max-width: 600px) {
    .blockHeaderTitle{
        font-size: 45px;
    }
    .blockHeaderDescribtion{
        font-size: 30px;
    }
}

